header {
    background-color: #80a5ef;
    min-height: 95px;
    padding: 15px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 
nav {
    min-height: 92px;
    width: 500px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;
    float: left;
}

nav a:link {
    font-size: 2.5rem;
    text-decoration: none;
    color:white;
    font-weight: 500; 
}

nav a:hover {
    border-bottom: 3px solid white;
    color: white;
    
}


nav a:visited {
    color: white;
}

.row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    height: 700px;
    background-color: rgb(246, 240, 240);
}

.card-01 {
    background-color: white;
    position: relative;
    min-height: 400px;
    margin: 20px;
}

.card11 {
    width: 33%;

}

.card11 h2 {
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
}

.box span {
    font-size: 3em;
    width: 100%;
}

.box p {
    color: black;
    font-size: 2rem;
}

.box {
    position: relative;
    width: 90%;
    float: right;
}

.card12 {
  
    flex: 1; 
    background-image: url(./images/profile.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
}

#profile {
    color: black;
    
    float:left;
    font-size: 4rem;
    margin-right: 20px;
}

hr {
    border: none;
    height: 5px;
    border-radius: 10px;
    background: linear-gradient(to left, white,white);
    margin: 0;
}

.card-02 {
    background-color: white;
    position: relative;
    flex: 1;
    height: 600px;
    margin: 20px;

}

.card21 {
    padding: 10px;
    border-right: 8px solid white;
    background-color: white;
}

 .card21 h1 {
   color: black;
   justify-content: center;
   float:left;
   font-size: 4rem;
   margin-right: 20px;
}

.card22 {
    flex: 2;
    display: flex;
    padding: 10px;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.work {
    color: white;
    min-height:150px;
}

.work-1 {
    flex: 100%;
    background-image: url(./images/Javascript\ calculator.png);
    background-size: 500px;
   
    background-repeat: no-repeat;
    min-height: 500px;
    position: relative;
}





.work-2 {
    background-image: url(./images/javascript\ clock.png);
    position: absolute;
    background-size: 500px;
   
    background-repeat: no-repeat;
    min-height: 500px;
    position: relative;
    min-width: 500px;
    top: -150px;
    left: -180px;
   
}


.card-03 {
    background-color: white ;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px;
    flex: 1;
   
}

.card31 {
   
    border-right: 8px solid white;
    background-color: white;
    color: black;
    padding: 10px;
}                                         

.card31 h1 {
    color: black;
    float:right;
    font-size: 4rem;
    margin-right: 20px;
 }
 
 .card32 {
    flex: 2;
    display: flex;
    padding: 10px;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    font-size: 30px;
}



.row-3 {
    height: 300px;
}

@media screen and (max-width: 830px) {
    nav{
        width: 100%;
        justify-content: space-around;
    }

    .row {
        justify-content: center;
        position: relative;
        background-color: white;
    }

    .card21 h1 {
       text-align: center;
       margin: 0;
       float: none;
    }

    .card22 {
        margin-top: 0;
    }
    
    .row-1 {
        height: 1300px;
    }

    .card21 {
        height: 110px;
        border: none;
        display: block;
        margin: 0 auto;
    }

   
    .row-2 {
        display: block;
        height: 750px;
    }
    .row-3 {
        display: block;
        max-height: 750px;
        color: white;
    }

    .card32 {
        display: inline-block;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .card31 {
        height: 110px;
        border: none;
        display: block;
       margin: 0;
        padding: 0;
        width: 100%;
    }
    
    .card31 h1 {
        text-align: center;
        margin: 0;
        float: none;
        padding: 10px;
     }
    
    .card-01 {
        flex: 100%;
        max-width: 600px;
        min-height: 200px;
        margin: 0;
    }

    .box {
        margin-left: 100px;
    }
}

@media screen and (max-width: 940px) {

    .card12 {
        background-position: top center;
    }

    .card11 .box{
        float: left;
    }
}

@media screen and (max-width: 580px) {
    .card11 h1 {
        font-size: 2em;
        color: white;
        margin-bottom: 20px;
    }
    
    .box span {
        font-size: 3em;
        width: 100%;
    }
    
    .box p {
        color: white;
        font-size: 1.5rem;
    }

    .card11 {
        height: 400px;
        display: block;
        width: 100%;
    }
     .card12 {
        display: block;
        width: 100%;
    }

    .row-1 {
        display: block;
        height: 1100px;
    }
   
    .box {
        margin: 0 auto;
        text-align: center;
        height: 420px;
        width: 100%;
    }
    
    
}

@media screen and (max-width: 400px) {
    nav{
        flex-direction: column;
        font-size: 2rem;
    }

    nav a:link {
        font-size: 1.5rem;
        font-weight: 500; 
    }
    
   
}

@media screen and (max-width: 350px) {
    .card11 h1 {
        font-size: 1.5em;
        color: white;
        margin-bottom: 20px;
    }
    
    .box span {
        font-size: 2.5em;
        width: 100%;
    }

   .card11 {
        height: 300px;
    }
    
    .box {
        height: 300px;
    }
    
    .box p {
        color: white;
        font-size: 1rem;
        text-align: center;
        width: 80%; 
        margin: 0 auto;
    }

    .row-1 {
        height: 700px;
    }

    .card12 {
        height: 400px;
    }

    #mywork , #contactme {
        font-size: 3rem;
    }
    
    .card32 p {
        font-size: 1.5em;
    }
}

